.wCalendar_box_c {
	top: 0;
	left: 0;
	z-index: 9998;
	position: absolute;
	display: none
}

.wCalendar_box_c * {
	cursor: default
}

.wCalendar_box_layer {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.3)
}

.wCalendar_box {
	color: #9e9e9e;
	font-family: "Arial";
	width: 497px;
	height: 324px;
	border: 1px solid #d2d9de;
	background: #fff;
	position: absolute;
	border-bottom: none;
	border-radius: 4px;
	z-index: 2;
	box-sizing: content-box
}

.wCalendar_box .arrow {
	width: 0;
	height: 0;
	left: 25%;
	margin-left: -8px;
	position: absolute;
	border-style: solid;
	display: none
}

.wCalendar_box .arrow .arrow_bg {
	width: 0;
	height: 0;
	position: absolute;
	border-style: solid
}

.wCalendar_box .arrow.top {
	top: -16px;
	border-width: 0 13px 16px 13px;
	border-color: transparent transparent #d2d9de transparent
}

.wCalendar_box .arrow.top .arrow_bg {
	top: 1px;
	left: -11px;
	border-width: 0px 11px 15px 11px;
	border-color: transparent transparent #fff transparent
}

.wCalendar_box .arrow.bottom {
	bottom: -16px;
	border-width: 16px 13px 0 13px;
	border-color: #' + __wCalendarColor + ' transparent transparent transparent
}

.wCalendar_box .folding {
	top: 164px;
	left: 50%;
	margin-left: -17px;
	width: 32px;
	height: 32px;
	color: #' + __wCalendarColor + ';
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	border-radius: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #d2d9de;
	background: #fff
}

.wCalendar_box .start_box {
	top: 0;
	left: 0;
	width: 248px;
	height: 100%;
	position: absolute
}

.wCalendar_box .end_box {
	top: 0;
	right: 0;
	width: 248px;
	height: 100%;
	position: absolute;
	border-left: 1px solid #d2d9de;
	box-sizing: content-box
}

.wCalendar_box .cal_description {
	height: 42px;
	color: #' + __wCalendarColor + ';
	font-size: 14px;
	line-height: 44px;
	text-align: center
}

.wCalendar_box .cal_month {
	height: 32px;
	color: #3e3e3e;
	font-size: 14px;
	background: #f1f1f1;
	text-align: center;
	line-height: 32px;
	position: relative
}

.wCalendar_box .cal_month .turn_left,
.wCalendar_box .cal_month .turn_rigt {
	width: 54px;
	font-size: 18px;
	cursor: pointer;
	font-family: "Sim Hei";
	font-weight: bold;
	transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s
}

.wCalendar_box .cal_month .turn_left:hover,
.wCalendar_box .cal_month .turn_rigt:hover {
	color: #' + __wCalendarColor + ';
	background: rgba(0, 0, 0, .1)
}

.wCalendar_box .cal_month .turn_left {
	left: 0;
	text-align: left;
	padding-left: 18px;
	position: absolute
}

.wCalendar_box .cal_month .turn_rigt {
	right: 0;
	text-align: right;
	padding-right: 18px;
	position: absolute
}

.wCalendar_box .cal_calendar {
}

.wCalendar_box .cal_calendar .cal_week,
.wCalendar_box .cal_calendar .cal_date {
	width: 196px;
	margin-left: auto;
	margin-right: auto
}

.wCalendar_box .cal_calendar span {
	width: 22px;
	height: 22px;
	margin: 3px 3px 0 3px;
	line-height: 22px;
	font-size: 12px;
	text-align: center;
	display: inline-block
}

.wCalendar_box .cal_calendar .cal_week {
	margin-top: 12px
}

.wCalendar_box .cal_calendar .cal_week span {
	color: #' + __wCalendarColor + '
}

.wCalendar_box .cal_calendar .cal_date {
	height: 160px
}

.wCalendar_box .cal_calendar .cal_date span {
	border-radius: 2px
}

.wCalendar_box .cal_calendar .cal_date span.disabled {
	color: #bdbdbd;
	cursor: default
}

.wCalendar_box .cal_calendar .cal_date span.enabled {
	color: #000;
	cursor: pointer
}

.wCalendar_box .cal_calendar .cal_date span.enabled:hover {
	color: #fff;
	background: #' + __wCalendarColor + '
}

.wCalendar_box .cal_calendar .cal_date span.current {
	color: #fff;
	background: #' + __wCalendarColor + ';
	cursor: default
}

.wCalendar_box .cal_progress {
	width: 196px;
	height: 1px;
	background: #d2d9de;
	margin: 2px auto 0 auto
}

.wCalendar_box .cal_progress .cal_sub_pro {
	width: 0%;
	height: 100%;
	background: #' + __wCalendarColor + ';
	position: relative
}

.wCalendar_box .cal_progress .cal_sub_pro .cal_pro_point {
	width: 9px;
	height: 9px;
	top: -4px;
	right: -5px;
	background: #' + __wCalendarColor + ';
	border-radius: 10px;
	position: absolute
}

.wCalendar_box div.cal_buttons {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 36px;
	position: absolute;
	overflow: hidden;
	border-radius: 0 0 4px 4px
}

.wCalendar_box .cal_buttons input.cal_button {
	width: 248px;
	height: 100%;
	color: #fff;
	font-size: 14px;
	font-family: "Arial";
	cursor: pointer;
	border: none;
	background: #' + __wCalendarColor + ';
	top: 0;
	left: 0;
	margin: 0;
	transition: color 300ms, background 300ms;
	-moz-transition: color 300ms, background 300ms;
	-webkit-transition: color 300ms, background 300ms;
	-o-transition: color 300ms, background 300ms
}

.wCalendar_box .cal_buttons input.cal_button:hover {
	color: #' + __wCalendarColor + ';
	background: #e0e0e0
}

.wCalendar_box .cal_buttons input.cal_button:focus {
	outline: 0
}

.wCalendar_box .cal_buttons input:first-child {
	float: left
}

.wCalendar_box .cal_buttons input:last-child {
	float: right
}